.landingBigTitle {
    background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.7) 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;    
}

.ctaSignUpBtn {
    background-color: var(--primary-green);
    border-radius: 0.625rem;
    color: #fff;
    padding: 1.1875rem 2.1875rem; 
}